<%- include('../includes/header.ejs');%>

<div class="p-form-wrap add-post">
  <h2 class="p-form-wrap__title">Create new post</h2>
  <form action="/admin/post" class="p-form" method="POST">
    <div>
      <label for="title" class="p-form__label">Post title</label>
      <input
        placeholder="Enter post title here"
        class="p-form__input"
        name="title"
        id="title"
        type="text"
      />
    </div>

    <div>
      <label for="body" class="p-form__label">Content</label>
      <textarea
        name="body"
        id="body"
        class="p-form__input"
        &__input
        rows="10"
        placeholder="What do you want to write about?"
      ></textarea>
    </div>

    <div>
      <input type="submit" class="p-form__submit" value="Create Post" />
    </div>
  </form>
</div>

<%- include('../includes/end.ejs') %>
