<%- include('../includes/header.ejs');%>

<form action="#">
  <div>
    <label for="">Title</label>
    <input type="text" />
  </div>

  <div>
    <textarea
      name=""
      id=""
      cols="30"
      rows="10"
      placeholder="Enter your post here"
    ></textarea>
  </div>

  <div>
    <input type="submit" value="Create Post" />
  </div>
</form>

<%- include('../includes/end.ejs') %>
