<%- include('../includes/header.ejs');%>

<form action="/admin/post" class="admin-form" method="POST">
  <div class="form-group">
    <input placeholder="Enter Post title" name="title" type="text" />
  </div>

  <div class="form-group">
    <textarea
      name="body"
      id=""
      cols="30"
      rows="10"
      placeholder="What do you want to write about?"
    ></textarea>
  </div>

  <div class="form-group">
    <input type="submit" class="submit-btn" value="Create Post" />
  </div>
</form>

<%- include('../includes/end.ejs') %>
