@import '_variables';
@import '_reset';

body {
  font-family: $font-stack;
  background: #f8f8f8;
}

.page-wrapper {
  max-width: $page-width;
  margin: auto;
}

.main-header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  border-bottom: 1px solid #ccc;
  align-items: center;

  &__logo {
    color: #444;
    font: {
      size: 150%;
      weight: 800;
    }

    a {
      text-decoration: none;
      color: inherit;
      font-weight: inherit;
    }
  }

  &__nav {
    li {
      display: inline-block;
      margin-left: 2rem;
    }
    li a {
      text-decoration: none;
      border-bottom: 2px solid transparent;
      &:hover {
        border-bottom-color: $accent;
      }
    }
  }
}

// Post

.post {
  display: flex;
  margin: 2rem 0;
  border-bottom: 1px solid #bdbdbd;
  &__img {
    width: 300px;
    height: 200px;
    flex: 0.5;
    margin-right: 2rem;

    background: {
      color: #333333;
      image: url('../img/posts/post-test.jpg');
      size: cover;
    }
  }

  &__overview {
    flex: 1;
  }

  &__title {
    font-size: 200%;
    a {
      text-decoration: none;
      color: inherit;
    }
  }
}
