<%- include('includes/header.ejs');%>

<form action="post" class="form" action="#">
  <div>
    <label for="email" class="form__label">E-mail</label>
    <input
      type="email"
      placeholder="myemail@example.com"
      class="form__input"
      name="email"
      id="email"
    />
  </div>
  <div>
    <label for="password" class="form__label">Password</label>
    <input
      type="password"
      placeholder="•••••••"
      class="form__input"
      name="password"
      id="password"
    />
  </div>

  <div>
    <input type="submit" class="form__submit" value="Login" />
  </div>
</form>

<%- include('includes/end.ejs');%>
