<%- include('includes/header.ejs');%>

<div class="p-form-wrap">
  <h2 class="p-form-wrap__title">Login into your account</h2>
  <form action="post" id="login-form" class="p-form" method="POST" action="#">
    <div>
      <label for="email" class="p-form__label">E-mail</label>
      <input
        type="email"
        placeholder="myemail@example.com"
        class="p-form__input"
        name="email"
        id="email"
      />
    </div>
    <div>
      <label for="password" class="p-form__label">Password</label>
      <input
        type="password"
        placeholder="•••••••"
        class="p-form__input"
        name="password"
        id="password"
      />
    </div>

    <div class="p-form__submit--wrapper">
      <input type="submit" class="p-form__submit" value="Login" />
    </div>
  </form>
</div>

<%- include('includes/end.ejs');%>
