*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
  outline: 0;
  font-size: 100%;
  font-family: inherit;
}

li {
  list-style: none;
}

textarea {
  resize: vertical;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #efefef;
}

.page-wrapper {
  max-width: 1200px;
  margin: auto;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-header__logo {
  color: #444;
  font-size: 150%;
  font-weight: 800;
}

.main-header__logo a {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
}

.main-header__nav li {
  display: inline-block;
  margin-left: 2rem;
}

.main-header__nav .active-page {
  border-bottom-color: #0ca175;
  color: #0ca175;
}

.main-header__nav li a {
  text-decoration: none;
  border-bottom: 2px solid transparent;
  color: inherit;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  padding-bottom: 3px;
}

.main-header__nav li a:hover {
  border-bottom-color: #0ca175;
}

.page-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main {
  -webkit-box-flex: 1.2;
      -ms-flex: 1.2;
          flex: 1.2;
}

.aside {
  -webkit-box-flex: 0.4;
      -ms-flex: 0.4;
          flex: 0.4;
  margin-left: 4rem;
}

.aside__section {
  margin-bottom: 2rem;
}

.aside__section-title {
  font-size: 150%;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e7e7e7;
}

.post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}

.post:not(:last-child) {
  border-bottom: 1px dashed #ccc;
}

.post__img {
  margin-right: 2rem;
  -o-object-fit: contain;
     object-fit: contain;
  width: 330px;
  max-height: 200px;
  overflow: hidden;
  background-image: url("../img/posts/post-test.jpg");
  background-size: cover;
}

.post__header {
  margin-bottom: 0.5rem;
}

.post__overview {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.post__title {
  font-weight: 600;
  font-size: 160%;
}

.post__title a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: 0.4s ease-out color;
  transition: 0.4s ease-out color;
}

.post__title a:hover {
  color: #0ca175;
}

.post__time {
  color: #b4b4b4;
}

.post__read-more {
  display: inline-block;
  margin: 1rem 0;
  padding: 5px 7px;
  background: #0ca175;
  text-decoration: none;
  color: #fff;
}

.post-item {
  width: 100%;
}

.post-item__header {
  margin-bottom: 1rem;
}

.post-item__title {
  font-size: 250%;
}

.post-item__body {
  word-break: break-word;
  padding: 2rem 0;
  line-height: 1.5;
}

.post-item__body::first-letter {
  font-size: 300%;
  font-weight: 600;
  float: left;
  padding-right: 10px;
  line-height: 0.85;
}

.p-form-wrap {
  max-width: 50%;
  margin: 0 auto;
  background: #fff;
  padding: 2rem 3rem;
  -webkit-box-shadow: 0 1.5rem 10rem 1rem rgba(0, 0, 0, 0.05);
          box-shadow: 0 1.5rem 10rem 1rem rgba(0, 0, 0, 0.05);
}

.p-form-wrap__title {
  font-size: 1.5rem;
  color: #0ca175;
  margin-bottom: 2rem;
}

.alert__error {
  color: #bd3118;
  -webkit-animation: shake 0.2s;
          animation: shake 0.2s;
}

.alert__success {
  color: #168d65;
}

.p-form {
  border-radius: 5px;
}

.p-form > div:not(:last-child) {
  margin-bottom: 1.5rem;
}

.p-form__input {
  background: #f2f2f2;
  width: 100%;
  outline: none;
  padding: 1rem;
  font-size: 1.1rem;
  border-radius: 4px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: block;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}

.p-form__input:focus {
  border-bottom-color: #0ca175;
}

.p-form__label {
  line-height: 2;
  cursor: pointer;
  color: #929292;
  font-weight: 600;
  font-size: 1.05rem;
}

.p-form__submit {
  background: transparent;
  color: #0ca175;
  padding: 1rem 2rem;
  border: 2px solid #0ca175;
  border-radius: 30px;
  cursor: pointer;
  -webkit-transition: 0.4s ease background;
  transition: 0.4s ease background;
  font-weight: 600;
}

.p-form__submit:hover {
  background: #0ca175;
  color: #fff;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  25% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  75% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  25% {
    -webkit-transform: translateX(5px);
            transform: translateX(5px);
  }
  75% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.add-post {
  max-width: 100%;
}
/*# sourceMappingURL=style.css.map */