.authcard {
  max-width: 50%;
  margin: 0 auto;
  background: #fff;
  padding: 3rem 4rem;
  box-shadow: 0 1.5rem 10rem 1rem rgba(0, 0, 0, 0.05);

  &__title {
    font-size: 1.5rem;
    color: $accent;
    margin-bottom: 2rem;
  }
}
.form {
  border-radius: 5px;

  > div:not(:last-child) {
    margin-bottom: 2rem;
  }
  &__input {
    background: #f2f2f2;
    width: 100%;
    outline: none;
    padding: 1rem;
    font-size: 1.1rem;
    border-radius: 4px;
    transition: all 0.3s;
    display: block;
    border: {
      top: 2px solid transparent;
      bottom: 2px solid transparent;
    }
    &:focus {
      border-bottom-color: $accent;
    }
  }

  &__label {
    line-height: 2;
    cursor: pointer;
    color: #929292;
    font: {
      weight: 600;
      size: 1.05rem;
    }
  }

  &__submit {
    background: $accent;
    color: #fff;
    padding: 1rem 2rem;
    border: 2px solid $accent;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.4s ease background;
    font-weight: 600;
    &:hover {
      background: #fff;
      color: $accent;
    }
  }
}
