.p-form-wrap {
  max-width: 50%;
  margin: {
    left: auto;
    right: auto;
    top: -2rem;
  }
  background: #fff;
  padding: 2rem 3rem;
  box-shadow: 0 1.5rem 10rem 1rem rgba(0, 0, 0, 0.05);

  &__title {
    font-size: 1.5rem;
    color: $accent;
    margin-bottom: 2rem;
  }
}

.alert {
  &__error {
    color: #bd3118;
    animation: shake 0.2s;
  }

  &__success {
    color: #168d65;
  }
}

.p-form {
  @include primary-form();

  &__group {
    position: relative;
    i {
      display: block;
      position: absolute;
      right: 0;
      top: 25%;
      right: 2%;
      padding: 5px;
      font-size: 110%;
      cursor: pointer;
    }
  }
}

.password__toggle {
  &--active {
    color: $accent;
  }
}

// Keyframes

@keyframes shake {
  0% {
    transform: translateX(-5px);
  }
  25% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
